<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ViewModelTestingDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>07EBF29C1DC03EA300B8092A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07EBF2B01DC03EA300B8092A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07EBF2BB1DC03EA300B8092A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
